/*
  Colors
  - Dark gray:        rgb(60, 60, 60)
  - Very light gray:
  - Nearly white:     rgb(245, 241, 234)
  - Red:              rgb(231, 57, 57)
*/

html {
  font-size: 18px;
}

.container-fluid {
  margin: 0 1rem;
}

.red-link {
  color: inherit;
  border-bottom: 0.1em solid rgb(231, 57, 57);
  padding-bottom: 2px;
}

.red-link:hover,
.red-link:focus {
  text-decoration: none;
  color: rgb(231, 57, 57);
}

body {
  font-size: 1rem;
  font-family: 'PT Mono', monospace;
  background-color: rgb(245, 241, 234);
  color: rgb(60, 60, 60);
  width: 100vw;
  overflow-x: hidden;
}

.navbar-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: rgb(223, 217, 208);
}

.navbar-button {
  padding: 0.3em 0.8em;
  text-align: right;
}

.navbar-button:hover {
  background-color: rgb(189, 184, 177);
  cursor: pointer;
}

.navbar-mobile {
  text-transform: uppercase;
  height: auto;
  max-height: 0;
  overflow: hidden;
  width: 100vw;
  text-align: center;
}

.navbar-mobile li {
  margin: 1em 0;
}

.navbar-mobile a,
.navbar a {
  color: gray;
  border: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 8rem;
  z-index: 1;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1em;
}

h4 {
  font-size: 0.8rem;
  color: white;
  margin-bottom: 1em;
}

.secondary-color {
  color: rgb(231, 57, 57);
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Landing screen */

.big-name {
  height: 50vh;
}

.big-name h1 {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.name-align-right {
  display: inline-block;
  text-align: right;
}

.subtitle {
  color: rgb(223, 217, 208);
  height: 50vh;
}

/* About */

.portret-picture {
  overflow: hidden;
  margin-bottom: 2rem;
}

.about-cv {
  margin-top: 1em;
}

/* Skills */

.skills {
  margin-bottom: 3rem;
}

.skills ul {
  font-size: 0.8em;
  margin-left: 1em;
  opacity: 0.5;
}

/* Projects */

.project {
  margin-bottom: 1rem;
  background-color: black;
}

.project img {
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.project-info {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-info p {
  color: white;
  font-size: 0.5rem;
}

.project:hover img {
  opacity: 0.3;
}

.project:hover .project-info {
  opacity: 1;
}

.projects a {
  border: none;
}

/* Contact */

.catchphrase {
  color: rgb(223, 217, 208);
  margin-bottom: 4rem;
}

.contact-info {
  margin-top: 2em;
  margin-bottom: 5em;
}

.contact-info ul {
  margin-top: 1.5em;
}

.contact-info li {
  display: inline;
}

.contact-info img {
  opacity: 0.3;
  /* margin-right: 2em; */
}

.contact-info img:hover {
  opacity: 0.5;
}

/* Project pages */

.big-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 0;
}

.big-nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(223, 217, 208);
  margin-right: 0.5em;
}

.big-nav-container a {
  color: rgb(60, 60, 60);
}

.big-nav:hover {
  background-color: rgb(189, 184, 177);
}

.big-nav-container:hover a {
  text-decoration: none;
}

.project-page {
  margin-top: 8rem;
}

.project-date {
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 2em;
}

.project-page-description p {
  margin-bottom: 2em;
}

/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.3.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Hover.css Copyright Ian Lunn 2017. Generated with Sass.
 */

/* Reveal */
.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-reveal:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: rgb(231, 57, 57);
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-reveal:hover:before,
.hvr-reveal:focus:before,
.hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 15px;
}

/* -------------- Helper classes ---------------- */

.vertical-center {
  display: flex;
  align-items: center;
}

.full-height {
  height: 100vh;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mt-20 {
  margin-top: 20rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.fit-text {
  display: inline-block;
  white-space: nowrap;
}

/* -------------- Decoration ---------------- */

.square1 {
  width: 200px;
  height: 200px;
  background-color: gray;

  position: absolute;
  top: 600px;
  left: 600px;
  z-index: -1;
}

.hor-stripe {
  width: 200px;
  height: 50px;
  background-color: rgb(231, 57, 57);
  opacity: 0.5;
  position: absolute;
  right: -2rem;
  top: 25rem;
}

/***********************************
************************************
  Responsive media queries
************************************
***********************************/

/* Extra extra small devices*/
/* No media query since this is the default in Bootstrap */

/* Extra small devices (phones, 576px and up) */
@media (min-width: 576px) {
  html {
    font-size: 20px;
  }

  .contact-info img {
    width: 60%;
  }

  .project-page-description p {
    font-size: 0.9rem;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 21px;
  }

  .navbar {
    position: fixed;
    z-index: 1;
    transform: rotate(-90deg);
    transform-origin: right bottom;
    right: 0;
    top: -1em;
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .navbar li {
    display: inline;
    margin-right: 1em;
  }

  .big-name {
    height: 100vh;
  }

  .big-name h1 {
    margin-top: initial;
    margin-left: initial;
    margin-right: initial;
  }

  .portret-picture {
    height: 40vw;
  }

  .portret-picture img {
    margin-top: -13vw;
  }

  .skills {
    margin-bottom: none;
    /* font-size: 0.9rem; */
  }

  .project-info p {
    font-size: 0.7rem;
  }

  .catchphrase {
    margin-bottom: 0;
  }

  .project-page {
    margin: 8rem 10vw;
  }

  .project-page-description p {
    font-size: 0.9rem;
  }

  .mt-sm-5 {
    margin-top: 5rem;
  }

  .mt-sm-10 {
    margin-top: 10rem;
  }

  .mt-sm-20 {
    margin-top: 20rem;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 22px;
  }

  /* .portret-picture {
    height: 40vw;
  } */

  .portret-picture img {
    margin-top: -8vh;
  }

  .skills {
    font-size: 1rem;
  }

  .project-page-description p {
    font-size: 0.85rem;
  }

  .project-date {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 2em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 24px;
  }

  .portret-picture {
    height: 35vw;
  }

  .portret-picture img {
    margin-top: -7.5vw;
  }

  h4 {
    font-size: 1.2rem;
  }

  .project-info p {
    font-size: 0.8rem;
  }
}

/* Extra large devices (very large desktops, 2000px and up) */
@media (min-width: 2000px) {
  html {
    font-size: 30px;
  }

  .portret-picture {
    height: 40vw;
  }

  .portret-picture img {
    margin-top: -4.5vw;
  }

  .contact-info img {
    width: 40%;
  }

  .project-page-description p {
    font-size: 0.65rem;
  }
}
