html {
  font-size: 15px;
}

body {
  font-family: 'PT Mono', monospace;
  font-size: 2rem;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: 8rem;
  color: rgb(60, 60, 60);
}

h2 {
  font-family: 'Montserrat', sans-serif;
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: 6rem;
  color: rgb(60, 60, 60);
  margin-bottom: 5rem;
}

.secondary-color {
  color: rgb(231, 57, 57);
}

/* Landing screen */

.name-align-right {
  display: inline-block;
  text-align: right;
}

.subtitle {
  font-size: 15rem;
  color: rgb(235, 235, 235);
}

/* -------------- Helper classes ---------------- */

.vertical-center {
  display: flex;
  align-items: center;
}

.full-height {
  height: 100vh;
}

.mt-20 {
  margin-top: 20rem;
}

/* -------------- Decoration ---------------- */

.square1 {
  width: 200px;
  height: 200px;
  background-color: gray;

  position: absolute;
  top: 600px;
  left: 600px;
  z-index: -1;
}
