/*
  Colors
  - Dark gray:        rgb(60, 60, 60)
  - Very light gray:
  - Nearly white:     rgb(245, 241, 234)
  - Red:              rgb(231, 57, 57)
*/

html {
  font-size: 15px;
}

.red-link {
  color: inherit;
  border-bottom: 0.1em solid rgb(231, 57, 57);
  padding-bottom: 2px;
}

.red-link:hover {
  text-decoration: none;
  color: rgb(231, 57, 57);
}

body {
  font-family: 'PT Mono', monospace;
  font-size: 2rem;
  background-color: rgb(245, 241, 234);
  color: rgb(60, 60, 60);
}

.navbar {
  position: fixed;
  z-index: 1;
  transform: rotate(-90deg);
  transform-origin: right bottom;
  right: 0;
  top: -1em;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.navbar li {
  display: inline;
  margin-right: 1em;
}

.navbar a {
  color: gray;
  border: none;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 8rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  /* text-transform: uppercase; */
  font-weight: bold;
  font-size: 4rem;
  margin-bottom: 1em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1em;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 1em;
}

.secondary-color {
  color: rgb(231, 57, 57);
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

/* Landing screen */

.name-align-right {
  display: inline-block;
  text-align: right;
}

.subtitle {
  font-size: 15rem;
  color: rgb(223, 217, 208);
}

/* About */

.about-cv {
  margin-top: 1em;
}

/* Skills */

.skills {
  font-size: 1.5rem;
}

.skills ul {
  font-size: 1.2rem;
  margin-left: 1em;
  opacity: 0.5;
}

/* Projects */

.project {
  margin-bottom: 2rem;
  background-color: black;
}

.project img {
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.project-info {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-info p {
  color: white;
  font-size: 1rem;
}

.project:hover img {
  opacity: 0.3;
}

.project:hover .project-info {
  opacity: 1;
}

.projects a {
  border: none;
}

/* Contact */

.contact-info {
  margin-top: 2em;
  margin-bottom: 5em;
}

.contact-info ul {
  margin-top: 1em;
}

.contact-info li {
  display: inline;
}

.contact-info img {
  opacity: 0.3;
  margin-right: 2em;
}

.contact-info img:hover {
  opacity: 0.5;
}

/* Project pages */

.big-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.big-nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 4rem;
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(223, 217, 208);
  margin-right: 0.5em;
}

.big-nav-container p {
  font-size: 1.5rem;
}

.big-nav-container a {
  color: rgb(60, 60, 60);
}

.big-nav:hover {
  background-color: rgb(189, 184, 177);
}

.big-nav-container:hover a {
  text-decoration: none;
}

.project-page {
  margin: 0 5vw;
}

.project-date {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 2em;
}

.project-page-description {
  font-size: 1.3rem;
}

.project-page-description p {
  margin-bottom: 2em;
}

/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.3.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover

 * Hover.css Copyright Ian Lunn 2017. Generated with Sass.
 */

/* Reveal */
.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-reveal:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: rgb(231, 57, 57);
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-reveal:hover:before,
.hvr-reveal:focus:before,
.hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 15px;
}

/* -------------- Helper classes ---------------- */

.vertical-center {
  display: flex;
  align-items: center;
}

.full-height {
  height: 100vh;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mt-20 {
  margin-top: 20rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.background-rellax {
  overflow: hidden;
  height: 60vh;
}

.background-rellax img {
  margin-top: -10rem;
}

/* -------------- Decoration ---------------- */

.square1 {
  width: 200px;
  height: 200px;
  background-color: gray;

  position: absolute;
  top: 600px;
  left: 600px;
  z-index: -1;
}

/***********************************
************************************
  Responsive media queries
************************************
***********************************/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h2 {
    font-size: 6rem;
  }

  .project-page {
    margin: 0 10vw;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
